@font-face {
    font-family: "Playfair_Display";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Playfair_Display"),
        /* Если не получилось, загрузит woff */
    url("/fonts/Playfair_Display/PlayfairDisplay-Bold.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
    url("/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format("ttf"),
    url("/fonts/Playfair_Display/PlayfairDisplay-Bold.eot") format("eot");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("OpenSans"),
        /* Если не получилось, загрузит woff */
    url("/fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
    url("/fonts/OpenSans/OpenSans-Bold.ttf") format("ttf"),
    url("/fonts/OpenSans/OpenSans-Bold.eot") format("eot");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("OpenSans"),
        /* Если не получилось, загрузит woff */
    url("/fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
    url("/fonts/OpenSans/OpenSans-Bold.ttf") format("ttf"),
    url("/fonts/OpenSans/OpenSans-Bold.eot") format("eot");
}