li {
    list-style-type: none;
    display: inline-flex;
    flex: 1 1 auto;
    margin:0 10px 0 0;
    padding:0 7px;
}

a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

a:hover{
    color: #66afe9;
}

.login{
    display: inline-flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    margin:0 10px 0 0;
    padding:0 7px;
}

.header-search {
    border: 0;
    width: 473px;
    padding: 8px 15px;
    margin-left: 43px;
    margin-right: 20px;

}

.header-social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 256px;

}

.header-social img {
    vertical-align: middle;
}

.header-reg{
    background-color: #F1E4FF;
    border-radius: 8px;
    border: 0;
    height: 35px;
    color: #8C30F5;
    font-size: 15px;
}
.header-reg:hover{
    background-color: #8C30F5;
    color: #F1E4FF;
}